env:
  GH_TOKEN: ${{ secrets.MACHINE_USER_TOKEN }}
jobs:
  upgrade_provider:
    name: upgrade-provider
    runs-on: ubuntu-latest
    steps:
    - name: Call upgrade provider action
      uses: pulumi/pulumi-upgrade-provider-action@e71a8c1d0846a21776530b135339c342896ce628 # v0.0.11
      with:
        kind: all
        email: getport.io
        username: pulumi-port-bot
name: Upgrade provider

permissions:
  contents: write

on:
  workflow_dispatch: {}
